BSC_TRADER_WALLET=0x55976c6818e4794f3e2e7179eea2cc2202811e11
BSCSCAN_API_KEY=
BSC_RPC_URL=https://bsc.rpc.blxrbdn.com
FOURMEME_PROGRAM_MODE=rpc
RPC_LOG_CHUNK_SIZE=50000
RPC_MAX_BLOCKS_PER_RUN=50000
RPC_RECENT_BLOCKS_PER_RUN=300000
SITE_BASE_URL=https://hahahakang.github.io/bsc-fourmeme-analysis-live/
